.outer-conatiner {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 20px;
    width: 100%;
    box-sizing: border-box;  
    height: 100vh;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    padding: 30px 20px 30px 20px; 
    width: 25%;
    gap: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.input-item{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-item label {
    padding-bottom: 10px;
    
}

input {
    background-color: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    width: 100%; 
    box-sizing: border-box;
}

input:focus {
    
    outline: none;
    border: 1px solid white;
}

.warning {
    padding-top: 10px;
    color: red;
}

a:hover {
    color: red;
}


@media (max-width: 1297px){
    .form{
        width: 60%;
    }
}

@media (max-width: 600px){
    .form{
        width: 90%;
    }
}


