
<div class="outer-conatiner">

  <div class="form">

    <h4>Register</h4>

    <form class="inputs" (ngSubmit)="submitForm()" #regForm="ngForm">

      <div class="input-item">
        <label for="inputName">Name</label>
        <input type="text" id="inputName" [(ngModel)]="registerFileds.name" name="name" #name="ngModel" required>

        @if (name.invalid && (name.dirty || name.touched || regForm.submitted)){
          <div class="warning">
            Name is required.
          </div>
        }
      </div>

      <div class="input-item">
        <label for="inputSurname">Surname</label>
        <input type="text" id="inputSurname" [(ngModel)]="registerFileds.surname" name="surname" #surname="ngModel" required>

        @if (surname.invalid && (surname.dirty || surname.touched || regForm.submitted)){
          <div class="warning">
            Surname is required.
          </div>
        }
      </div>

      <div class="input-item">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" id="exampleInputEmail1" aria-describedby="emailHelp"
          [(ngModel)]="registerFileds.email" name="email"
          #email="ngModel" required email>

        @if (email.invalid && (email.dirty || email.touched || regForm.submitted)){
          <div class="warning">
            Please enter a valid email.
          </div>
        }
      </div>

      <div class="input-item">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" id="exampleInputPassword1" [(ngModel)]="registerFileds.password"
          name="password" minlength="6"
          #password="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).+$">

        @if (password.hasError('required') && (password.dirty || password.touched || regForm.submitted)){
          <div class="warning">
            Password is required.
          </div>
        }
        @else if (password.hasError('minlength')) {
          <div class="warning">
            Password must be at least 6 characters long.
          </div>
        }
        @else if (password.hasError('pattern')) {
          <div class="warning">
            Password must contain an uppercase letter, a lowercase letter, and a number.
          </div>
        }
      </div>
      
      <div class="input-item">
        <label for="inputRepeatPassword">Repeat Password</label>
        <input type="password" id="inputRepeatPassword" [(ngModel)]="registerFileds.repeatPassword"
          name="repeatPassword" #repeatPassword="ngModel" required>
      
        @if (registerFileds.password !== registerFileds.repeatPassword && (regForm.submitted || repeatPassword.touched || repeatPassword.dirty)){
          <div class="warning">
            Passwords do not match.
          </div>
        }
      
      </div>

      @if (emailExists == true) {
          <div class="warning">Email is already registered</div>
      }

      <button type="submit" [disabled]="regForm.invalid || registerFileds.password !== registerFileds.repeatPassword">Sign Up</button>

    </form>

    <div>
      <p> <a routerLink="/login">Already have an account?</a></p>
    </div>

  </div>

</div>